<!--Template fuer die Patienten Tabelle-->
<!--#if Helper prueft hier ob Daten vorhanden sind-->
<!--#each Helper iteriert durch die einzelnen Objekte-->
<div class="container_2a">
    <div class="col">
        <div class="row-md-14">
            {{#if patienten}}
                <div class="table-responsive">
                    <table id="patienten">
                        <thead>
                            <th>ID</th>
                            <th>Vorname</th>
                            <th>Nachname</th>
                            <th>Geburtsdatum</th>
                            <th>Geschlecht</th>
                            <th>Krankheit</th>
                            <th>PLZ</th>
                        </thead>
                        <tbody>
                            {{#each patienten}}
                                <tr>
                                    <td>{{PatientenID}}</td>
                                    <td>{{Vorname}}</td>
                                    <td>{{Nachname}}</td>
                                    <td>{{Geburtsdatum}}</td>
                                    <td>{{Geschlecht}}</td>
                                    <td>{{Krankheit}}</td>
                                    <td>{{PLZ}}</td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            {{/if}}
        </div>
    </div>
</div>